### Titanic Dataset

In [2]:
import pandas as pd
from sklearn import naive_bayes
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

Read in the actual dataset of 887 Titanic passengers.

In [14]:
df = pd.read_csv('data/titanic.csv')
print(df.shape)
df.head()

(887, 8)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

### Question 1:
Create an input matrix containing the explanatory variables (including a one-hot matrix of the Sex column) and use it to predict the response variable, Survived, using the Naive-Bayes algorithm.

In [15]:
#insert
one_hot = pd.get_dummies(df['Sex'])
df = df.drop('Sex', axis = 1)
df = df.join(one_hot)
df = df.drop(columns = 'Name')

In [17]:
X = df.drop(columns = ["Survived"])
y = df["Survived"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=4444)

model = naive_bayes.GaussianNB()
model.fit(X_train,y_train)

print('train accuracy', model.score(X_train, y_train))
print('test accuracy', model.score(X_test, y_test))

train accuracy 0.7919354838709678
test accuracy 0.8127340823970037

### Question 2:
How many dead passengers were incorrectly predicted to survive? How many survivors were incorrectly predicted to be deceased?

In [22]:
#insert
print(confusion_matrix(y_test, model.predict(X_test)))
model.classes_
print(X.columns)

[[144  19]
 [ 31  73]]
Index(['Pclass', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard',
       'Fare', 'female', 'male'],
      dtype='object')

### Question 3:
Would you predict survival or death of a 3rd class, 18 year old, male passenger who had no family aboard and paid $1?

Would you predict survival or death of a 1st class, 18 year old, female passenger who had no family aboard and paid $50?

In [63]:
#insert
passenger1 = ([[3,18,0,0,1,0,1]])
passenger2 = ([[1,18,0,0,50,1,0]])
print(model.predict(passenger1), model.predict_proba(passenger1))
print(model.predict(passenger2), model.predict_proba(passenger2))

[0] [[0.96961062 0.03038938]]
[1] [[0.00290691 0.99709309]]

### Question 4: 
Return to the golf example from yesterday. Write a function called NaiveBayes that takes in an outlook, temp, humidity, and wind, and returns whether we predict that we will play golf or not. Within the function, print both the probabilities of yes or no. If you want to be fancy, you can make this function more general, but it's okay to make this very specific to the golf example.

Here is an example of correct output:
```python
NaiveBayes('Rainy', 'Hot', 'Normal', True)
```

```
Prob Yes: 0.6067961165048542
Prob No: 0.3932038834951457
```

In [104]:
#insert
df = pd.read_csv("data/golf.csv")
df.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Sunny   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Rainy  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [65]:
# one_hot = pd.get_dummies(df['Outlook'])
# df = df.drop('Outlook', axis = 1) 
# one_hot2 = pd.get_dummies(df['Temp'])
# df = df.drop('Temp', axis = 1)
# one_hot3 = pd.get_dummies(df['Humidity'])
# df = df.drop('Humidity', axis = 1) 
# one_hot4 = pd.get_dummies(df['Windy'])
# df = df.drop('Windy', axis = 1)

# one_hot = one_hot.join(one_hot2)
# one_hot = one_hot.join(one_hot3)
# one_hot = one_hot.join(one_hot4)
# df = df.join(one_hot)

In [90]:
print(df.columns)
print(df.count(axis = 0))

#Count of overcast = true 
overcast0 = (df.Overcast == 0).sum(axis=0)
overcast1 = (df.Overcast == 1).sum(axis=0)
pd.DataFrame('Rows' : overcast0)

SyntaxError: invalid syntax (<ipython-input-90-ee5de6049c55>, line 7)

In [ ]:
def NaiveBayes(outlook, temp, humidity, windy):

In [73]:
df

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Sunny   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Rainy  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [92]:
RainyYes = len(df[(df['Outlook'] == 'Rainy') & (df['Play Golf'] == 'Yes')])
RainyNo = len(df[(df['Outlook'] == 'Rainy') & (df['Play Golf'] == 'No')])
SunnyYes = len(df[(df['Outlook'] == 'Sunny') & (df['Play Golf'] == 'Yes')])
SunnyNo = len(df[(df['Outlook'] == 'Sunny') & (df['Play Golf'] == 'No')])
OvercastNo = len(df[(df['Outlook'] == 'Overcast') & (df['Play Golf'] == 'Yes')])
OvercastYes = len(df[(df['Outlook'] == 'Overcast') & (df['Play Golf'] == 'No')])

In [107]:
df1 = pd.DataFrame
df1['Rainy'] = [RainyYes, RainyNo]
df1

TypeError: 'type' object does not support item assignment